name: Clean up resources created by the start job in the last 4 hours
on:
  schedule:
    - cron: "*/15 * * * *"
  workflow_dispatch:
permissions:
  contents: write
  id-token: write
jobs:
  cleanup:
    runs-on: ubuntu-latest
#    runs-on: self-hosted
    strategy:
      matrix:
        vendor: [aws, azure, gcp, hcloud, upcloud, ovh, alicloud]
      fail-fast: false
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-${{ matrix.vendor }}
    container:
      image: ghcr.io/sparecores/sc-inspector:main
      env:
        GITHUB_TOKEN: ${{ github.token }}
        PULUMI_BACKEND_URL: ${{ secrets.PULUMI_BACKEND_URL }}
        GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}
        GOOGLE_PROJECT: ${{ secrets.GOOGLE_PROJECT }}
        ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
        ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
        ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
        ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
        SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
        HCLOUD_TOKEN: ${{ secrets.HCLOUD_TOKEN }}
        OVH_CLOUD_PROJECT_SERVICE: ${{ secrets.OVH_CLOUD_PROJECT_SERVICE }}
        OVH_CLIENT_ID: ${{ secrets.OVH_CLIENT_ID }}
        OVH_CLIENT_SECRET: ${{ secrets.OVH_CLIENT_SECRET }}
        OVH_ENDPOINT: ${{ vars.OVH_ENDPOINT }}
        UPCLOUD_USERNAME: ${{ secrets.UPCLOUD_USERNAME }}
        UPCLOUD_PASSWORD: ${{ secrets.UPCLOUD_PASSWORD }}
        REPO_PATH: /repo/sc-inspector-data
      volumes:
        - ${{ github.workspace }}/sc-inspector-data:/repo/sc-inspector-data
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          token: ${{ github.token }}
          fetch-depth: 0
          path: sc-inspector-data
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v4.0.2
        with:
          role-to-assume: ${{ secrets.SC_RUNNER_ROLE_ARN }}
          role-session-name: GitHub_to_AWS_via_FederatedOIDC
          # 12 hours (maximum allowed by AWS) to avoid expiring tokens during long-running cleanup
          role-duration-seconds: 43200
          aws-region: us-east-1
      - name: Get Alibaba Cloud credentials
        id: alibaba-cloud-credentials
        uses: 'mozillazg/alibabacloud-oidc-auth@v1'
        with:
          role-arn-to-assume: '${{ secrets.ALIBABA_CLOUD_RAM_ROLE_ARN }}'
          oidc-provider-arn: '${{ secrets.ALIBABA_CLOUD_RAM_OIDC_ARN }}'
          export-environment-variables: 'true'
          region: 'us-west-1'
      - name: inspector
        run: python /inspector/inspector.py cleanup --lookback-mins 240 --vendor ${{ matrix.vendor }}
