name: Start instances for collecting data
on:
  schedule:
    - cron: "*/15 * * * *"
#    - cron: "13 * * * *"
  workflow_dispatch:
permissions:
  contents: write
  id-token: write
jobs:
  start-instances:
    runs-on: ubuntu-latest
#    runs-on: self-hosted
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    container:
      image: ghcr.io/sparecores/sc-inspector:main
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        PULUMI_BACKEND_URL: ${{ secrets.PULUMI_BACKEND_URL }}
        BENCHMARK_SECRETS_PASSPHRASE: ${{ secrets.BENCHMARK_SECRETS_PASSPHRASE }}
        GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}
        GOOGLE_PROJECT: ${{ secrets.GOOGLE_PROJECT }}
        ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
        ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
        ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
        ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
        SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
        SSH_PUBLIC_KEY: ${{ secrets.SSH_PUBLIC_KEY }}
        OVH_CLOUD_PROJECT_SERVICE: ${{ secrets.OVH_CLOUD_PROJECT_SERVICE }}
        OVH_CLIENT_ID: ${{ secrets.OVH_CLIENT_ID }}
        OVH_CLIENT_SECRET: ${{ secrets.OVH_CLIENT_SECRET }}
        OVH_ENDPOINT: ${{ vars.OVH_ENDPOINT }}
        UPCLOUD_USERNAME: ${{ secrets.UPCLOUD_USERNAME }}
        UPCLOUD_PASSWORD: ${{ secrets.UPCLOUD_PASSWORD }}
        HCLOUD_TOKEN: ${{ secrets.HCLOUD_TOKEN }}
        ALIBABA_CLOUD_RAM_OIDC_ARN: ${{ vars.ALIBABA_CLOUD_RAM_OIDC_ARN }}
        REPO_PATH: /repo/sc-inspector-data
      volumes:
        - ${{ github.workspace }}/sc-inspector-data:/repo/sc-inspector-data
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          path: sc-inspector-data
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v4.0.2
        with:
          role-to-assume: ${{ secrets.SC_RUNNER_ROLE_ARN }}
          role-session-name: GitHub_to_AWS_via_FederatedOIDC
          # 12 hours (maximum allowed by AWS) to avoid expiring tokens during long-running operations
          role-duration-seconds: 43200
          aws-region: us-east-1
      - name: Get Alibaba Cloud credentials
        id: alibaba-cloud-credentials
        uses: 'mozillazg/alibabacloud-oidc-auth@v1'
        with:
          role-arn-to-assume: '${{ vars.ALIBABA_CLOUD_RAM_ROLE_ARN }}'
          oidc-provider-arn: '${{ vars.ALIBABA_CLOUD_RAM_OIDC_ARN }}'
          export-environment-variables: 'true'
          region: 'us-west-1'
      - name: inspector
        run: python /inspector/inspector.py start
        env:
          SSH_DEPLOY_KEY: ${{ secrets.SSH_DEPLOY_KEY }}
          #--start-only aws t3.nano --start-only aws c7a.4xlarge --start-only aws c7g.2xlarge
#        --start-only aws c7i.48xlarge --start-only aws c7i.metal-48xl
